.sidebar {
    display: flex;
    flex-direction: column;
    flex: 0.25;
    height: 100vh;
    background-color: #2f3135;
    max-width: 350px;
}

.sidebar__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #2f3135;
    color: white;
    border-bottom: 3px solid #26282c;
}

.sidebar__channels {
    flex: 1;
}

.sidebar__add-channel {
    cursor: pointer;
}

.sidebar__add-channel:hover {
    color: white;
}

.sidebar__channels--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #2f3135;
    color: grey;
}

.sidebar__header {
    display: flex;
    align-items: center;
}

.sidebar__voice,
.sidebar__profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: grey;
    background-color: #2f3135;
    padding: 10px;
    border-top: 1px solid grey;
}

.sidebar__voice--info {
    flex: 1;
    padding: 0 10px;
}

.sidebar__voice--icon,
.sidebar__voice--info > h5 {
    color: rgb(232, 0, 0);
}

.sidebar__voice--info > p,
.sidebar__profile--info > p {
    font-size: smaller;
}

.sidebar__voice--icons > .MuiSvgIcon-root,
.sidebar__profile--icons > .MuiSvgIcon-root {
    margin-left: 10px;
}

.sidebar__voice--buttons > .MuiButtonBase-root {
    cursor: not-allowed;
    pointer-events: auto;
    color: grey;
    background-color: #343639;
    text-transform: inherit;
    margin-right: 8px;
    width: 42%;
}

.sidebar__voice--buttons {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.sidebar__voice--buttons > .MuiButtonBase-root:hover {
    background-color: transparent;
}

.sidebar__profile--info {
    flex: 1;
    padding: 10px;
}

.sidebar__profile--info > h5 {
    color: white;
}